<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="./twitter-to-kafka-service/logs"/>
    <property name="APP_NAME" value="twitter-to-kafka-service"/>

<!--    logback-common.xml from app-config-data will end-up be in the class path-->
<!--    so we can include that resource without providing a path.-->
    <include resource="logback-common.xml"/>

</configuration>